@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
    @if ( !GameState.Instance.IsGameActive )
    {
        @if ( IsBoonShopOpen)
        {
            <BoonShop OnClose=@CloseBoonShop/>
        }
        <div id="shadowBox">
            <div id="mainTitle">Ducc Hunt</div>
            @if ( GameState.Instance.CurrentSessionGameCount > 0 )
            {
                <div id="gameOverTitle">Game Over</div>
                <div id="lastGameStatsBox">
                    <div class="row">
                        <p class="label">Points:</p>
                        <p class="value @(GameState.Instance.GotPersonalBestPoints ? "special" : "")">@GameState.Instance.Points</p>
                        @if (GameState.Instance.GotPersonalBestPoints)
                        {
                            <p class="pb special">🏆 New PB!</p>
                        }
                    </div>
                    <div class="row">
                        <p class="label">Ducks Hunted:</p>
                        <p class="value @(GameState.Instance.GotPersonalBestDucksHunted ? "special" : "")">@GameState.Instance.DucksHunted</p>
                        @if ( GameState.Instance.GotPersonalBestDucksHunted )
                        {
                            <p class="pb special">🏆 New PB!</p>
                        }
                    </div>
                    <div class="row">
                        <p class="label">Highest Combo:</p>
                        <p class="value @(GameState.Instance.GotPersonalBestCombo ? "special" : "")">@GameState.Instance.HighestCombo</p>
                        @if (GameState.Instance.GotPersonalBestCombo)
                        {
                            <p class="pb special">🏆 New PB!</p>
                        }
                    </div>
                    <div class="row hr"/>
                    <div class="row">
                        <p class="label">Shots Missed:</p>
                        <p class="value">@GameState.Instance.MissedShots</p>
                    </div>
                    <div class="row">
                        <p class="label">Accuracy:</p>
                        <p class="value">@($"{GameState.Instance.Accuracy * 100:F2}%"</p>
                    </div>

                </div>
            }
            @if ( ShouldShowStartButton )
            {
                <button id="startGameButton" @onclick=@(() => GameState.Instance.StartGame())>Start Game</button>
            }
            else
            {
                <p id="breatheText">Take a deep breath...</p>
            }
            <LeaderboardPanel/>
            <BoonList @ref=BoonPanel OnOpenBoonShop=@OpenBoonShop/>
        </div>
    }
    else
    {
        <div id="timerBox">
            <p>⏱</p>
            <p>@TimeRemaining</p>
        </div>
        <div id="ducksHuntedBox" class="statBox">
            <p>🦆</p>
            <p>@GameState.Instance.DucksHunted</p>
        </div>
        <div id="pointsBox">
            <div class="tab">
                <p>@(ComboMultiplier)</p>
            </div>
            <div class="statBox">
                <p>🏅</p>
                <p>@GameState.Instance.Points</p>
            </div>
        </div>
    }
</root>
